@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
#logo{
    width: 20vw;
}
h1{
    color: aliceblue;
  font-family: "Protest Guerrilla", sans-serif;
}
#name{
    color: rgb(243, 53, 53);
    font-size: 50px;
}
#va{
    color: rgb(72, 209, 221);
    font-size: 40px;
}
#vbtn{
    width: 200px;
    display: none;
}
#button{
    width: 30%;
    background: linear-gradient(to right, rgb(88, 230, 255) ,rgb(158, 134, 134));
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    border-radius: 50px;
    font-size: 20px;
    box-shadow: 2px 2px 10px  rgb(88, 230, 255) ,2px 2px 10px rgb(158, 134, 134);
    border: none;
    transition: all 0.5s;
    cursor:pointer ;
}
#voicesvg{
    width: 20px;
}
#button:hover{
 box-shadow: 2px 2px 10px  rgb(88, 230, 255) ,2px 2px 10px rgb(158, 134, 134);
 letter-spacing: 2px;
}